<div>Adventure Awaits</div>

  <ul class="post-list">
    {{#each posts}}
 <li>
    <article class="post">
      <div class="title">
      </div>
      <div class="meta">
  <img src="data:image/png;base64,{{image}}"/>  
        </div>
    </article>
  </li>
  {{/each}}
</ul>
